/* Mobile view - Default */
:root{
  --primary-color: sienna;
  --secondary-color: gainsboro;
  --tertiary-color: antiquewhite;
  --main-font: arial;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: slategray;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: skyblue;
  padding: 1rem;
}
#pageheader {
  background-color: var(--secondary-color);
  min-height: auto;
  padding: 1rem;
}
#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: none;
  background-image: url(Images/logossmall.png);
  margin: auto;
  border: 1px solid none;
}

#pageheader .container {
  min-height: auto;
}
#pageheader nav{
  text-align: center;
}
#pageheader nav ul{
list-style-type: none;
margin: 0;
padding: 0;
}
#pageheader nav ul li{
  border: 2px solid skyblue;
  padding: 1rem;
  background-color: bisque;
  margin: 2px;
  border-radius: 10px;
}
#pageheader nav ul li:hover{
  background-color: darkblue;
}

#media {
  background-color:lightblue
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/hero.png);
  background-size: cover;
  aspect-ratio: 16/9;
  background-position:bottom center:
}
#career {
  background-color: navy;
  min-height: 10rem;
  padding: 1rem;
}
#PageContent {
  background-color: green;
  min-height: 10rem;
  padding: 1rem;
}
#career {
  background-color: navy;
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: navy;
  min-height: 10rem;
  padding: 1rem;
}
#semester1 {
  background-color: navy;
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: navy;
  min-height: 10rem;
  padding: 1rem;
}
#worksamples {
  background-color: navy;
  min-height: 10rem;
  padding: 1rem;
}
#worksamples ul{
  list-style-type: none;
}
#certificates {
  background-color: navy;
  min-height: 10rem;
  padding: 1rem;
}
#certificates ul {
  list-style-type: none;
}

#certificates i {
  color:cadetblue;
  font-size: .9rem;
  padding-right: .7rem;
}

#pagefooter {
  background-color: navy;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  text-align: center;
  min-height: auto;
}
#aifooter {
  background-color: navy;
  padding: 1rem;
  min-height: auto;
}

#aifooter .container {
  text-align: center;
  min-height: auto;
}

#subfooter {
  background-color: var(--secondary-color);
  min-height: 10rem;
  padding: 1rem;
}

audio {
  display: block;
  margin: auto;
  background-color: deepskyblue;
  border: 5px solid red;
}
/* Tablet View */
@media screen and (min-width:600px)
{
  #pageheader nav ul{

    background-color:none;
    margin-top: 2rem;
  }  

  #pageheader nav ul li{
    display: inline-block;
  }
  
  #pagecontent
    {
      background-color: red;
    }
    #career{
      background-color: blue;
    }
    #logo{
      margin: 0;
    }
}
/* Desktop View */
@media screen and (min-width:1000px)
{
    #pagecontent
    {
      background-color: navy;
    }
    #career{
      background-color: navy;
    }
}

