html {
  scroll-behavior: smooth;
}

body {
  background-color: tan;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: white;
  padding: 1rem;
}
#pageheader {
  background-color: skyblue;
  min-height: auto;
  padding: 1rem;
}
#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: none;
  background-image: url(Images/logossmall.png);
}

#pageheader .container {
  min-height: auto;
}
#pageheader nav{
  text-align: center;
}
#pageheader nav ul{
list-style-type: none;
margin: 0;
padding: 0;
}
#pageheader nav ul li{
  border: 2px solid sienna;
  padding: 1rem;
  background-color: bisque;
  margin: 2px;
  border-radius: 10px;
}
#pageheader nav ul li:hover{
  background-color: beige;
}

#media {
  background-color: darkred;
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/hero.png);
  background-size: cover;
  aspect-ratio: 16/9;
}
#career {
  background-color: green;
  min-height: 10rem;
  padding: 1rem;
}
#PageContent {
  background-color: green;
  min-height: 10rem;
  padding: 1rem;
}
#career {
  background-color: green;
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: green;
  min-height: 10rem;
  padding: 1rem;
}
#semester1 {
  background-color: green;
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: green;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: saddlebrown;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  text-align: center;
  min-height: auto;
}
#aifooter {
  background-color: peru;
  padding: 1rem;
  min-height: auto;
}

#aifooter .container {
  text-align: center;
  min-height: auto;
}

#subfooter {
  background-color: green;
  min-height: 10rem;
  padding: 1rem;
}

audio {
  display: block;
  margin: auto;
  background-color: red;
  border: 5px solid red;
}

@media screen and (min-width:600px)
{
  #pageheader nav ul{

    background-color:none;
    margin-top: 2rem;
  }  

  #pageheader nav ul li{
    display: inline-block;
  }
  
  #pagecontent
    {
      background-color: red;
    }
    #career{
      background-color: blue;
    }
}

@media screen and (min-width:1000px)
{
    #pagecontent
    {
      background-color: navy;
    }
    #career{
      background-color: saddlebrown;
    }
}

