/* Thia is a CSS Comment */
/* ? This is a question comment */
/* ! This is an alert comment */
/* TODO comment */
/* *regular comment (different green) */

body{
    background-color: cadetblue;
}

h1{
    color: navy;
background-color: white;
padding: 1rem;
}

ul{
    font-family: 'Courier New', Courier, monospace;
}